#top{
    top: 10px;
    position: relative;
    bottom: 10px;
}
#bot{
    position: relative;
    top: 10px;
}
#result{
    position: relative;
    margin: 10px;
}
#name{
    display: inline-block;
    font-family: 'Arial';
}
#chart{
    position: relative;
    right: 1024px;
    height: 256px;
}