#typeIcon{
    display: inline-flex;
}
#name{
    display: block;
    font-family: 'Arial';
}
#description{
    display: block;
}
#properties{
    display: block;
}
#chart{
    float: left;
    height: 256px;
}