html{
    background-color: rgb(70, 4, 61);
}
.pag{  
    width: 600px;
    height: fit-content;
    background-color: white;
    padding: 5px;
    margin : auto auto auto auto;
    border-radius: 4px;
}
.buttons{
    width: fit-content;
    margin : 5px auto 5px auto;
}
#name{
    display: inline-block;
    font-family: 'Arial';
}
#chart{
    margin : 5px auto 5px auto;
    height: 300px;
}
#legend{
    right: 5px;
}