html{
    background-color: rgb(59, 0, 73);
}
.pag{  
    width: 800px;
    height: fit-content;
    background-color: white;
    padding: 5px;
    margin : auto auto auto auto;
    border-radius: 4px;
}
.nav{
    width: fit-content;
    float: left;
    background-color: white;
    padding: 3px;
    border-radius: 3px;
}
.buttons{
    width: fit-content;
    margin : 5px auto 5px auto;
    background-color: white;
    padding: 3px;
    border-radius: 3px;
}
.search{
    width: fit-content;
    float: right;
    background-color: white;
    padding: 3px;
    border-radius: 3px;
}
#name{
    display: inline-block;
    font-family: 'Arial';
}
#property{
    display: list-item;
    list-style: none;
}
#chart{
    margin : 5px auto 5px auto;
    height: 400px;
}
#legend{
    position: relative;
    left: 85%;
}