#top{
    top: 10px;
    position: relative;
    bottom: 10px;
}
#bot{
    position: relative;
    top: 10px;
}
#result{
    position: relative;
}
#typeIcon{
    display: inline-flex;
}
#name{
    display: block;
    font-family: 'Arial';
}
#description{
    display: block;
}
#properties{
    display: block;
}
#chart{
    position: relative;
    right: 512px;
    height: 256px;
}