.container{
    width:100%;
    height:100%;
    background-color: rgb(47, 0, 53);
  }
  .cellphone-container{  
    width:512px;
    height: 1024px;
    background-color: wheat;
    margin : auto auto auto auto;
    border-radius: 4px;
  }
#top{
    top: 10px;
    position: relative;
    bottom: 10px;
}
#bot{
    position: relative;
    top: 10px;
}
#result{
    position: relative;
    margin: 10px;
}
#name{
    display: inline-block;
    font-family: 'Arial';
}
#chart{
    position: relative;
    width: 256px;
    height: 256px;
}