html{
    background-color: rgb(70, 4, 61);
}
.cellphone-container{  
    width:512px;
    height: 1024px;
    background-color: white;
    padding: 5px;
    margin : auto auto auto auto;
    border-radius: 4px;
  }
#es , #en , #prev , #next{
    margin : 5px auto 5px auto;
}
#name{
    display: inline-block;
    font-family: 'Arial';
}
#chart{
    margin : 5px auto 5px auto;
    width: 300px;
    height: 300px;
}