#typeIcon{
    display: inline-block;
}
#name{
    display: inline-block;
    font-family: 'Arial';
}
#description{
    display: list-item;
}
#properties{
    display: list-item;
}
#chart{
    height: 512px;
}