.container{
    width:100%;
    height:100%;
  }
  .cellphone-container{  
    width:375px;
    height:650px;
    background-color:#1e1b26;
    margin : 60px auto 0 auto;
    box-shadow:5px 5px 115px -14px black;
    border-radius: 4px;
  }
#top{
    top: 10px;
    position: relative;
    bottom: 10px;
}
#bot{
    position: relative;
    top: 10px;
}
#result{
    position: relative;
    margin: 10px;
}
#name{
    display: inline-block;
    font-family: 'Arial';
}
#chart{
    position: relative;
    width: 256px;
    height: 256px;
}